# Visual Studio
.vs/
Debug/
Release/
x64/
x86/

# Precompiled headers / cache
*.ipch
*.pch
ipch/

# Object / build files
*.obj
*.exe
*.dll
*.lib
*.exp

# CMake (ako koristiš)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
